.App {
  text-align: center;
  /* background-color: #004B57; */
  background-image: url('./assets/papel-de-parede-paisagem-natural-e-nuvens.jpg.webp');
  background-size: cover;
  height: 100vh;
  min-height: 100vh;
  display: grid;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: black;
}

.inputText {
  border-radius: 5px;
}

.sendButton {
  border-radius: 5px;
}
