.App {
  text-align: center;
  /* background-color: #004B57; */
  background-image: url('./assets/papel-de-parede-paisagem-natural-e-nuvens.jpg.webp');
  background-size: cover;
  height: 100vh;
  min-height: 100vh;
  display: grid;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: black;
}

.inputText {
  border-radius: 20px;
  height: 25px;
  width: 200px;
}

.inputText::placeholder{
  font-size: 11.5px;

}

.button-group {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 10px;
}

.button-1, .button-2, .button-3 {
  border-radius: 10px;
  border: none;
}